@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="btn-link" style="">
    <a class="btn-dark" asp-controller="KeeperModels" asp-action="Index">Your Page</a>
</div>
    <p>Here to help beekeepers succeed in the fight against CCD (Colony Collapse Disorder)!</p>
</div>

