@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="text-center">
        <img src="http://agr.georgia.gov/Data/Sites/1/media/ag_plantindustry/plant_protection/images/honeyBee.png" />
        <h1 class="display-4">
            Welcome Bee Keepers to Beezilla!
        </h1>
        <div class="btn-link" style="">
           <h2><a class="btn-light btn-outline-primary" asp-controller="KeeperModels" asp-action="Index">Click Here to go to Keepers Page!</a></h2> 
        </div>
        <p>Here to help beekeepers succeed in the fight against CCD (Colony Collapse Disorder) by helping Keepers one bee at a time!</p>
    </div>

