@model Beezilla.Models.HiveModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>HiveModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Temperament" class="control-label"></label>
                <input asp-for="Temperament" class="form-control" />
                <span asp-validation-for="Temperament" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brood" class="control-label"></label>
                <input asp-for="Brood" class="form-control" />
                <span asp-validation-for="Brood" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Supers" class="control-label"></label>
                <input asp-for="Supers" class="form-control" />
                <span asp-validation-for="Supers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Species" class="control-label"></label>
                <input asp-for="Species" class="form-control" />
                <span asp-validation-for="Species" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mites" class="control-label"></label>
                <input asp-for="Mites" class="form-control" />
                <span asp-validation-for="Mites" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HiveType" class="control-label"></label>
                <input asp-for="HiveType" class="form-control" />
                <span asp-validation-for="HiveType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Propolis" class="control-label"></label>
                <input asp-for="Propolis" class="form-control" />
                <span asp-validation-for="Propolis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HiveImageUrl" class="control-label"></label>
                <input asp-for="HiveImageUrl" class="form-control" />
                <span asp-validation-for="HiveImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QueenCells" class="control-label"></label>
                <input asp-for="QueenCells" class="form-control" />
                <span asp-validation-for="QueenCells" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HiveStrength" class="control-label"></label>
                <input asp-for="HiveStrength" class="form-control" />
                <span asp-validation-for="HiveStrength" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SwarmPotential" class="control-label"></label>
                <input asp-for="SwarmPotential" class="form-control" />
                <span asp-validation-for="SwarmPotential" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HiveLat" class="control-label"></label>
                <input asp-for="HiveLat" class="form-control" />
                <span asp-validation-for="HiveLat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HiveLon" class="control-label"></label>
                <input asp-for="HiveLon" class="form-control" />
                <span asp-validation-for="HiveLon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
